/* ================GENERALE================ */
body{
  /* background-color: #3E8022; */
}
*,h1,h2,h3,p{
  font-family: 'Roboto', sans-serif;
}
.wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

a, a:visited{
    text-decoration: none;
    color: #000;
}

/* ================HEADER================ */
header {
    background-color: #99CCFF;
}

header h1{
    font-size: 3rem;
    color:#000;
    line-height: 100px;
    font-weight: bold;
    font-size: 4rem;
    padding-bottom: 20px;
}


.header_flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}

#header_right h1{
    text-align: center;
}


nav#sticker {
  z-index: 10000;
}

nav ul li a{
  text-transform: uppercase;
}

nav ul li a:hover{
  background-color: #3E8022;
  color:white;
}

.menu-co {
    display: flex;
    padding: 10px;
}

.menu-co li a{
    display: block;
    margin: 0 30px;
    font-size: 1.4rem;
}

.menu-co li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #D19B26;
    transition: width .3s;
}

.menu-co li a:hover:after {
    width: 100%;
    //transition: width .3s;
}
/* ================MAIN================ */

section#para {
  /* margin: 100px 0 50px; */
}
#presentation{
  background-color: rgba(104,157,113,0.9);
  padding:2%;
}
#presentation p {
  font-size:1.3rem;
  color:white;
}

 div#parallax {
  background: url("../../img/deux.jpg") no-repeat fixed;
  background-size: cover;
  height: 400px;
}
section#map {
  text-align: center;
}
section#map h1 {
  font-size: 40px;
  padding: 20px 0;
}

.single_prod{
  padding: 10px;
  border-radius: 8px;
  border:1px solid #D19B26;
  float:left;
  width:48%;
  margin:1%;
}
 h2{
  text-align: center;
  padding:30px;
  font-size: 1.4rem;
}
.single_prod h3{
  padding: 10px 0 ;
  font-weight: bold;

}
/* ================FOOTER================ */
footer {
  padding: 30px;
  background-color: grey;
}
footer ul {
  display: flex;
  justify-content: space-around;
}
