/* ================GENERALE================ */
body{
  /* background-color: #3E8022; */
  /* font-family: 'Fugaz One', sans-serif; */

}

p{
  /* font-family: 'Dosis', sans-serif; */
}
.wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.wrap-s{
    max-width: 900px;
    margin: 0 auto;
}

a, a:visited{
    text-decoration: none;
    color: #000;
}

/* ================HEADER================ */
header {
    background-color: #99CCFF;
}

.header_flex{
    display: flex;
    justify-content: space-between;


}
.header_flex h1{
    font-size: 4rem;
    padding: 20px;
}
header img{
    position: fixed;
    z-index: 20;
    top:-20px;
}

#header_right{

    align-self: center;
}
.menu-co li a{
    display: inline-block;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.menu-co li a:hover{
    /* color: #D19B26; */
}

.menu-co li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #D19B26;
    transition: width .3s;
    margin-top: 3px;
}

.menu-co li a:hover:after {
    width: 100%;
    transition: width .3s;
}
/* ================MAIN================ */


/*
/*========= Presentation + img ==========
*/

#parallax{
    position: relative;
}

#presentation{
    background-color: rgba(104,157,113,0.7);
    padding:10px;

}

#presentation{
    text-align: center;
}

#search-tag{
  background-color: rgba(255,255,255,0.7);
  position:absolute;
  width: 50%;
  left: 25%;
  top:50%;
  transform: translateY(-50%);
}

#search-tag h2 {
  font-size:1.3rem;
  line-height: 1.9rem;
  text-align: center;
}
#search-tag h2 span a {
  color:rgba(104,157,113,1);
  text-transform: uppercase;
}

#icon-flex{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}
.icon{
    width:50px;
    height: 50px;
    background-color: #FFF;
    padding:5px;
    border-radius:4px;

}
.icon label{
    cursor: pointer;
}
#search-tag input:checked + div {
  background-color:rgba(104,157,113,0.7);
  border:1px solid green;
}

#search-tag input[type=radio]{
    position:fixed;
    left:-9999px;
}
#search-tag input[type=text]{
    margin-top: 20px;
    padding: 4px;
    font-size:1.2rem;
    width:50%;
    height:30px;
    border-radius: 4px;
    border: none;
}
#search-tag input[type=text]:focus{
    border: 1px solid green;
}

#search-tag input[type=submit]{
    display: block;
    height:30px;
    width:80px;
    margin: 20px auto;
    border-radius: 4px;
    border:none;
    cursor: pointer;
    background-color: rgba(104,157,113,0.7);
}

#search-tag input[type=submit]:hover{
    background-color: rgba(104,157,113,1)

}


div#parallax {
  background: url("../../img/deux.jpg") no-repeat fixed;
  background-size: cover;
  height: 600px;
}

div#parallax_2 {
 background: url("../../img/deux.jpg") no-repeat fixed;
 background-size: cover;
 height: 600px;
}


/*
/*========= INFO ==========
*/

#info-contener{
  background: #46879B;
}

.info_flex{
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* .info_flex:after{
  content: " ";
  background: tomato;
  position: absolute;
  width:120%;
  top:0;
  left:-60px;
  right:-40px;
  bottom:0;
  z-index: 1;
  transform: skewX(-15deg);
} */
.info_flex>div{
  width: 48%;
  padding:20px 20px;
  margin: 60px 0;
  z-index: 50;

}

.info_flex>div h2{
  font-size:1.5rem;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}

.info_flex>div li{
  font-size:1.3rem;
  padding-top: 20px;
  color: aliceBlue;
  font-family: 'Dosis','sans-serif';
  text-align: center;
}

#info-prod{
 /* background-color: rgba(209,155,38,1);
 box-shadow: 0 9px 18px rgba(0,0,0,0.30), 0 10px 7px rgba(0,0,0,0.22);   */
  position: relative;
}
#info-prod:after{
  content: " ";
  background: rgba(104,157,113,0.7);
  position: absolute;
  top:0;
  left:-10px;
  right:-10px;
  bottom:0;
  z-index: -1;
  transform: skewX(-15deg);
  /* box-shadow: 0 9px 18px rgba(0,0,0,0.30), 0 10px 7px rgba(0,0,0,0.22); */
}

#info-abo{

  /* box-shadow: 0 9px 18px rgba(0,0,0,0.30), 0 10px 7px rgba(0,0,0,0.22); */
  position: relative;
}
#info-abo:after{
  content: " ";
  background-color: rgba(209,155,38,1);
  position: absolute;
  top:0;
  left:-10px;
  right:-10px;
  bottom:0;
  z-index: -1;
  transform: skewX(-15deg);
}

/* ================FOOTER================ */

footer {
  border-top: 1px solid  grey;
  font-family: 'Dosis','sans-serif';
  padding: 50px;
  color: #fff;
  background-color: #46879B;
}
footer div.wrap {
  text-align:center;
  padding:40px;
}

footer #flex-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* text-transform: uppercase; */
  border-top: 2px solid rgba(209,155,38,1);
  border-bottom: 2px solid rgba(209,155,38,1);
  padding: 50px;
}
/* footer#content-logo {
  display: flex;
} */
#list-footer {
  width:30%;
  text-align:center;
  margin-bottom: 10px;
}
#nouveauté {
  width:40%;
  background-color: rgba(209,155,38,1);
  padding:20px;
  border-radius: 5px;
}
footer h4 {
  font-size:1.5rem;
  padding-bottom: 15px;
  text-transform: uppercase;

}
.footer-flex {
  display: flex;
  justify-content: center;
  width: 40%;
}
.list-footer {
  padding: 10px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.sprite ul{
  display: flex;
  justify-content: center;
}
.sprite li {
  padding: 10px;
}


/* ================= SVG MAP =================== */
section#map {
  text-align: center;
}

section#map h1 {
  font-size: 40px;
  padding: 20px 0;
}

#search_map .content{
    width:85%;
    margin: auto;
    padding: 70px 0;
}

#search_map .content .img-svg{
	width:100%;
	display: block;
	margin:auto;
	margin-bottom: 5em;
}

.img-svg path{
		fill: #99CCFF;
		stroke-width: 1px;
		/* transition: fill 0.3s; */
}

.img-svg path:hover{
		fill: #3E8022;
    opacity: 0.7;
    stroke-width:1px;
    stroke:White;
    cursor: pointer;
    stroke-linejoin: round;
}

.full_width {
  width:100%;
}

.full_width h1{
  font-size:1.6em;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: whitesmoke;
  border: 2px solid #D19B26;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Dosis', sans-serif;
}

#eure-map{
  display: block;
  /* position: absolute; */
}
/* ======================FOOTER ======================*/

/* ======================FOOTER ======================*/

@media screen and (min-width: 200px) and (max-width: 640px){

.header_flex{
  flex-direction: column;
}

.header_flex h1{
  display:none;
}
}
