/* ================GENERALE================ */
body{
  /* background-color: #3E8022; */
}
*,h1,h2,h3,p{
  font-family: 'Roboto', sans-serif;
}
.wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

a, a:visited{
    text-decoration: none;
    color: #000;
}

/* ================HEADER================ */
header {
    background-color: #99CCFF;
}

header h1{
    font-size: 3rem;
    color:#000;
    line-height: 100px;
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.1em;

}


.header_flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
}


#header_right{
    padding-bottom: 20px;
}
#header_right h1{
    text-align: center;
    color: #D19B26;
}


nav#sticker {
  z-index: 10000;
}

nav ul li a{
  text-transform: uppercase;
}

nav ul li a:hover{
  background-color: #3E8022;
  color:white;
}

.menu-co {
    display: flex;
    padding: 10px;
}

.menu-co li a{
    display: block;
    margin: 0 30px;
    font-size: 1.4rem;
}

.menu-co li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #D19B26;
    transition: width .3s;
}

.menu-co li a:hover:after {
    width: 100%;
    //transition: width .3s;
}
/* ================MAIN================ */

section#para {
  /* margin: 100px 0 50px; */
}
#presentation{
  background-color: rgba(104,157,113,0.9);
  padding:2%;
}
#presentation p {
  font-size:1.3rem;
  color:white;
}

 div#parallax {
  background: url("../../img/deux.jpg") no-repeat fixed;
  background-size: cover;
  height: 400px;
}
section#map {
  text-align: center;
}
section#map h1 {
  font-size: 40px;
  padding: 20px 0;
}

.single_prod{
  padding: 10px;
  border-radius: 8px;
  border:1px solid #D19B26;
  float:left;
  width:48%;
  margin:1%;
}
 h2{
  text-align: center;
  padding:30px;
  font-size: 1.4rem;
}
.single_prod h3{
  padding: 10px 0 ;
  font-weight: bold;

}
/* ================FOOTER================ */
footer {
  padding: 30px;
  background-color: grey;
}
footer ul {
  display: flex;
  justify-content: space-around;
}


/* ================= SVG MAP =================== */

#search_map .content{
    width:85%;
    margin: auto;
    padding: 70px 0;
}

#search_map .content .img-svg{
	width:100%;
	display: block;
	margin:auto;
	margin-bottom: 5em;
}

.img-svg path{
		fill: #99CCFF;
		stroke-width: 1px;
		/* transition: fill 0.3s; */
}

.img-svg path:hover{
		fill: #3E8022;
    opacity: 0.7;
    stroke-width:1px;
    stroke:White;
    cursor: pointer;
    stroke-linejoin: round;
}

.full_width {
  width:100%;
}

.full_width h1{
  font-size:1.6em;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: whitesmoke;
  border: 2px solid #D19B26;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Dosis', sans-serif;
}

#eure-map{
  display: block;
  /* position: absolute; */
}


@media screen and (min-width: 200px) and (max-width: 640px){

.header_flex{
  flex-direction: column;
}

.header_flex h1{
  display:none;
}
}
