/* ================GENERALE================ */
body{
  /* background-color: #3E8022; */
  /* font-family: 'Fugaz One', sans-serif; */
}

p{
  /* font-family: 'Dosis', sans-serif; */
}
.wrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

}

a, a:visited{
    text-decoration: none;
    color: #000;
}

/* ================HEADER================ */
header {
    background-color: #99CCFF;
}

.header_flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}


#header_right{
    padding-bottom: 20px;
}
#header_right h1{
    text-align: center;
    color: #3E8022;
    font-size: 3rem;
    line-height: 100px;
    font-weight: bold;
}


nav#sticker {
  z-index: 10000;
}

nav ul li a{
  text-transform: uppercase;
  font-size: 0.5rem;
}

nav ul li a:hover{
  background-color: #3E8022;
  color:white;
}



.menu-co li a{
    display: inline-block;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.menu-co li a:hover{
    /* color: #D19B26; */
}

.menu-co li a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #D19B26;
    transition: width .3s;
    margin-top: 3px;
}

.menu-co li a:hover:after {
    width: 100%;
    transition: width .3s;
}
/* ================MAIN================ */


/*
/*========= Presentation + img ==========
*/

section#para {
  /* margin: 100px 0 50px; */
}
#search-tag{
  background-color: rgba(255,255,255,0.7);
  position:absolute;
  width: 50%;
  left: 25%;
  top:50%;
  transform: translateY(-50%);
}

#search-tag h2 {
  font-size:1.3rem;
  line-height: 1.9rem;
  text-align: center;
}
#search-tag h2 span a {
  color:red;
  text-transform: uppercase;
}

div#parallax {
  background: url("../../img/deux.jpg") no-repeat fixed;
  background-size: cover;
  height: 600px;
}

div#parallax_2 {
 background: url("../../img/deux.jpg") no-repeat fixed;
 background-size: cover;
 height: 600px;
}


/*
/*========= INFO ==========
*/

#info-contener{
  background: #46879B;
}

.info_flex{
  display: flex;
  justify-content: space-between;
  position: relative;
}
/* .info_flex:after{
  content: " ";
  background: tomato;
  position: absolute;
  width:120%;
  top:0;
  left:-60px;
  right:-40px;
  bottom:0;
  z-index: 1;
  transform: skewX(-15deg);
} */
.info_flex>div{
  width: 48%;
  padding:20px 20px;
  margin: 60px 0;
  z-index: 50;

}

.info_flex>div h2{
  font-size:1.5rem;
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
}

.info_flex>div li{
  font-size:1.3rem;
  padding-top: 20px;
  color: aliceBlue;
  font-family: 'Dosis','sans-serif';
  text-align: center;
}

#info-prod{
 /* background-color: rgba(209,155,38,1);
 box-shadow: 0 9px 18px rgba(0,0,0,0.30), 0 10px 7px rgba(0,0,0,0.22);   */
  position: relative;
}
#info-prod:after{
  content: " ";
  background: rgba(104,157,113,0.7);
  position: absolute;
  top:0;
  left:-10px;
  right:-10px;
  bottom:0;
  z-index: -1;
  transform: skewX(-15deg);
  /* box-shadow: 0 9px 18px rgba(0,0,0,0.30), 0 10px 7px rgba(0,0,0,0.22); */
}

#info-abo{

  /* box-shadow: 0 9px 18px rgba(0,0,0,0.30), 0 10px 7px rgba(0,0,0,0.22); */
  position: relative;
}
#info-abo:after{
  content: " ";
  background-color: rgba(209,155,38,1);
  position: absolute;
  top:0;
  left:-10px;
  right:-10px;
  bottom:0;
  z-index: -1;
  transform: skewX(-15deg);
}

/* ================FOOTER================ */
footer {

  border-top: 1px solid  grey;

}

.footer-flex {
  display: flex;
  justify-content: center;
  width: 40%;
}

.footer-flex ul {
  align-self: center;
  margin-left: 50%;
  line-height: 1.2rem;
  font-size: 1.2rem;
}
.footer-flex img{

}

/* ================= SVG MAP =================== */
section#map {
  text-align: center;
}

section#map h1 {
  font-size: 40px;
  padding: 20px 0;
}

#search_map .content{
    width:85%;
    margin: auto;
    padding: 70px 0;
}

#search_map .content .img-svg{
	width:100%;
	display: block;
	margin:auto;
	margin-bottom: 5em;
}

.img-svg path{
		fill: #99CCFF;
		stroke-width: 1px;
		/* transition: fill 0.3s; */
}

.img-svg path:hover{
		fill: #3E8022;
    opacity: 0.7;
    stroke-width:1px;
    stroke:White;
    cursor: pointer;
    stroke-linejoin: round;
}

.full_width {
  width:100%;
}

.full_width h1{
  font-size:1.6em;
  text-align: center;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: whitesmoke;
  border: 2px solid #D19B26;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Dosis', sans-serif;
}

#eure-map{
  display: block;
  /* position: absolute; */
}


@media screen and (min-width: 200px) and (max-width: 640px){

.header_flex{
  flex-direction: column;
}

.header_flex h1{
  display:none;
}
}
